script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='/javascripts/login.js')

header.header(role='banner')
  h1.logo
    a.nav(href='/')
      | Big Paws of 
      span Denver
    .nav-wrap
      nav.main-nav(role='navigation')
        ul.unstyled.list-hover-slide
          a.nav(href='/parks') Parks
          a.nav(href='/about') About
          a.nav(href='/contact') Contact
        ul.social-links.list-inline.unstyled.list-hover-slide
          li.nav2 
            a.nav.cd-popup-trigger Login
              a.cd-popup-trigger
                .cd-popup(role='alert')
                  .cd-popup-container
                    form(action='post' method='login')
                      label(for='email') Email
                      input(type='email' name='email' value=email)
                      label(for='password') Password
                      input(type='text' name='password')
          li.nav2
            a.nav(href='/signup') Sign-Up
      a(href='www.facebook.com/bigpawsofdenver' target='_blank')
        img(src='../../images/fb.png' height='50' width='50')
