header.header(role='banner')
  h1.logo
    a(href='/')
      | Big Paws of 
      span Denver
    .nav-wrap
      nav.main-nav(role='navigation')
        ul.unstyled.list-hover-slide
          li
            a(href='#') Parks
          li
            a(href='#') About
          li
            a(href='#') Contact
          li
            a(href='#') Login
      ul.social-links.list-inline.unstyled.list-hover-slide
        li
          a(href='facebook.com/bigpawsofdenver' target='_blank') Facebook
