header.header(role='banner')
  h1.logo
    a(href='/')
      | Big Paws of 
      span Denver
    .nav-wrap
      nav.main-nav(role='navigation')
        ul.unstyled.list-hover-slide
          li
            a(href='/parks') Parks
            |  
            a(href='/about') About
            |  
            a(href='/contact') Contact
            |  
            a(href='/login') Login
      a(href='www.facebook.com/bigpawsofdenver' target='_blank')
        img(src='../../images/fb.png' height='50' width='50')
