extends ../layout

block content
  include ../partials/nav
  script(src='/javascripts/contact.js' type='text/javascript')

  form(action='/contact' method='post')
    label(for='name') Name
    input(type='text' name='name')
    br
    label(for='email') Email
    input(type='email' name='email')
    br
    label(for='subject') Subject
    input(type='text' name='subject')
    br
    label(for='message') Message
    textarea(name='message')
    br
    input(type='submit' value='Send Message')
